<%- include('../layouts/header.ejs')%>
</head>
<body>
    <%- include('../layouts/navigation.ejs')%>
    <% if(errorMessage) { %>
    <h2 style="text-align: center;"><%= errorMessage %></h2>
    <% } %>
    <form method="POST" action="/new-password">
      <div>
       <div>
          <label for="password">Password</label>
           <input type="text" id="password" name="password" />
        </div>
          <input type="hidden" value="<%= userId %>" name="userId" />
          <input type="hidden" value="<%= token %>" name="token" />
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
          <button class="btn" type="submit">Set password</button>
      </div>
    </form>
<%- include('../layouts/footer.ejs')%>