<%- include('../layouts/header.ejs')%>
</head>
<body>
    <%- include('../layouts/navigation.ejs')%>
    <% if(errorMessage) { %>
    <h2 style="text-align: center;"><%= errorMessage %></h2>
    <% } %>
    <form method="POST" action="/reset-password">
      <div>
        <div>
          <label for="email">Email</label>
           <input type="text" id="email" name="email"  />
        </div>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
          <button class="btn" type="submit">Reset</button>
      </div>
        
    </form>
<%- include('../layouts/footer.ejs')%>