<%- include('../layouts/header.ejs') %>
  </head>
  <body>
    <%- include('../layouts/navigation.ejs') %>
    <% if(errorMessage) { %>
    <h2 style="text-align: center;"><%= errorMessage %></h2>
    <% } %>
    <form method="POST" action="<% if (editing) { %> /edit-product <% } else { %> /product <% } %>"  enctype="multipart/form-data">
      <div>
        <div>
          <label for="name">Name</label>
           <input
           class="<%= validationErrors.find(err=>err.path === 'name') ? 'invalid' : '' %>"
            type="text" id="name" name="name" value="<% if(editing || hasError) { %><%= product.title %><% } else { %><% } %> " />
        </div>
       <!-- <div>
          <label for="image">Image URL</label>
           <input
           class="<%= validationErrors.find(err=>err.path === 'imageUrl') ? 'invalid' : '' %>"
           type="text" id="image" name="imageUrl" value="<% if(editing || hasError) {%><%= product.imageUrl %><% } else { %><% }%>"/>
        </div> -->
        <div>
          <label for="image">Image URL</label>
          <input 
          type="file"
          name="image"
          id="image"/>
        </div>
        <div>
          <label for="amount">Amount</label>
           <input
           class="<%= validationErrors.find(err=>err.path === 'amount') ? 'invalid' : '' %>"
           type="number" id="amount" name="amount" value="<% if(editing || hasError) {%><%= product.price %><% } else { %><% }%>"/>
        </div>
        <div>
          <label for="description">Description</label>
           <input 
           class="<%= validationErrors.find(err=>err.path === 'description') ? 'invalid' : '' %>"
           type="text" id="description" name="description" value="<% if(editing || hasError) {%><%= product.description %><% } else { %> <% }%>"/>
        </div>
        
          <% if(editing){ %>
            <input type="hidden" name="productId" value="<%= product._id %>"/>
          <%}%>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
          <button class="btn" type="submit"><% if (editing==='true') { %> Update Product <% } else { %> Add Product <% } %></button>
             
      </div>
        
    </form>
  <%- include('../layouts/footer.ejs')%>
